* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #FBEAEB;
}

body p {
    font-family: 'Roboto', sans-serif;
    color: #2F3C7E;
}

.container {
    max-width: 1360px;
    width: 100%; /* setando para que fique sempre na largura máxima que é 1280px */
    margin: 0 auto;
}

header {
    background-color: #2F3C7E;
    padding: 15px 40px;
}

header a{
    text-decoration: none;
    color: #FBEAEB;
}

header a:hover{
    color:#d8b7b9;
}

h1, h2, h3, h4 {
    font-weight: normal;
    font-family: 'Secular One', sans-serif;
}

header h1{
    color: #FBEAEB;
    font-size: 30px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header nav li {
    display: inline;
    margin-right: 8px;
    font-size: 24px;
}

header nav li a{
    text-decoration: none;
    color: #FBEAEB;
    font-family: 'Secular One', sans-serif;
}

header nav li a:hover{
    color:#d8b7b9;
}

section img{
    height: 400px;
    margin-right: 12px;
    border: solid #2F3C7E;
}

section ul li{
    display: inline;
}

section .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section h2, h3 {
    margin-bottom: 10px;
    color: #2F3C7E;
}

section ul img{
    height: 60px;
    margin-top: 4px;
    border: none;
}

#about p{
    margin-bottom: 8px;
}

.job-roles ul li {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-top: 10px;
    color: #FBEAEB;
}

.job-roles h3 {
    color: #FBEAEB;
}

.job-roles {
    background-color: #2F3C7E;
    height: 300px;
    width: 50%;
    text-align: center;
    box-shadow: 10px 5px 5px black;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button {
    display: block;
    width: 1300px;
    margin-bottom: 8px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

form textarea{
    resize: none;
    height: 180px;
}

form button {
    background-color: #2F3C7E;
    color: #FBEAEB;
}

form button:hover {
    background-color: #4c5eb8;
}

input:focus, textarea:focus { /* definido a borda dessa cor quando estiver em foco */
    outline-color: #1e264d;
}

footer {
    background-color: #2F3C7E;
    padding: 15px 0;
}

footer p {
    color: #FBEAEB;
    text-align: center;
}

#Projects .container {
    display: block;
}

.projects-div {
    display: flex;
    padding: 10px 0;
}

.projects-div h4 a {
    text-decoration: none;
    color: #2F3C7E;
}

.projects-div h4 a:hover {
    color: #576cd3;
}

.projects-div h4  {
    padding: 8px 0px;
}

.projects-div img {
    height: 600px;
    width: 700px;
}

